# Auto detect text files and perform LF normalization
* text=auto
*.gds filter=lfs diff=lfs merge=lfs -text
*.vcf.gz filter=lfs diff=lfs merge=lfs -text
*.vcf.gz.tbi filter=lfs diff=lfs merge=lfs -text
